[Desktop Entry]
Name=N3USYS AXIOM
Comment=N3USYS AXIOM Aurorae Window Decoration
X-KDE-PluginInfo-Name=N3USYS-Axiom
X-KDE-PluginInfo-Author=N3USYS
X-KDE-PluginInfo-Version=0.2.2
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Website=https://uswebhosts.net/
